@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a href="@Url.Action("GetExercises","Exercise")">Exercises</a></br>
    <a href="@Url.Action("GetMuscleParts","MusclePart")">Muscle Parts</a></br>
    <a href="@Url.Action("GetTrainings","Training")">Training</a></br>
    <a href="@Url.Action("GetTrainingPlans","TrainingPlan")">Training Plan</a></br>
    <a href="@Url.Action("GetUsers","User")">Users</a></br>
</div>
